body{
    color: white;
    background-image: url("img/fond2.jpg"); 
    background-size: auto 100%;
    background-attachment: fixed;
    margin-left: 5%;
}
a{
    color: white;
    outline: none;
    text-decoration: none;
}
a:visited {
    color: white;
}

#nav{
    /* background-color: rgba(0,0,0,0.5); */
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 30px;
}
#nav > div{
    font-size: large;
}

#nav_imgLogo{
    width: 75px;
}

main > div{
    /* background-color: rgba(0,0,0,0.5); */
    width: 40%;
    display: inline-block;
    vertical-align: middle;
}
main > div.productFav{
    /* background-color: rgba(0,0,0,0.5); */
    width: 30%;
    margin-right: 3%;
    display: inline-block;
    vertical-align: middle;
}
.productFav > img{
    max-width: 100%;
    max-height: 100%;
}

#img_acceuil{
    max-width: 100%;
    max-height: 100%;
}

#container{
    width: 100%;
    height: 1500px;
    margin-top: 50px;
    display: inline-flex;
    justify-content: space-around;
    gap: 20px;
}

#containerProduct{
    width: 30%
}
#imgContainerProduct{
    max-width: 100%;
    max-height: 100%;
}

/* #containerGrid{
    padding: 5px;
    margin-left: 1%;
    display: inline-block;
    width: 60%;
}
#containerGrid > div{
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
}
.cell > img{
    width: 140px;
    height: 140px;
    padding: 5px;
    max-width: 100%;
    max-height: 100%;
} */
#containerGrid{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;
}
.cell{
    flex: 1;
}

.cell > img{
    width: 180px;
}

#contact,#soumission{
    width: 45%;
}

#soumission{
    margin-left: 5%;
}
footer{
    margin-top: 50px;
    font-size: xx-small;
}
ol {
    list-style: none;
  }
